{% extends 'adminlte/base.html' %}

{% block title %}tala{% endblock %}
{% block content %}
<div class="small-box bg-aqua">
    <div class="inner">
        <h3>{{ node_count }}</h3>
        <p>Management Nodes</p>
    </div>
    <div class="icon">
        <i class="fa fa-server"></i>
    </div>
    <a href="{% url 'webui:nodes' %}" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>
<div class="small-box bg-green">
    <div class="inner">
        <h3>{{ vm_count }}</sup></h3>
        <p>Management Virtual Machines</p>
    </div>
    <div class="icon">
        <i class="fa fa-cubes"></i>
    </div>
    <a href="{% url 'webui:virtualmachines' %}" class="small-box-footer">
      More info <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>
<div class="small-box bg-orange">
    <div class="inner">
        <h3>{{ container_count }}</sup></h3>
        <p>Management Containers</p>
    </div>
    <div class="icon">
        <i class="fa fa-ship"></i>
    </div>
    <a href="{% url 'webui:containers' %}" class="small-box-footer">
      More info <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>
{% endblock %}