{% extends 'adminlte/base.html' %}

{% block title %}VirtualMachines{% endblock %}
{% block content %}
    <h1>VirtualMachines</h1>
<div class="btn-group">
    <button class="btn btn-primary" onClick="location.href='{% url 'webui:virtualmachine-create' %}'">Add</button>
</div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>NodeName</th>
          <th>IP Address</th>
          <th>Power</th>
          <th>Status</th>
          <th>VNC</th>
          <th>KVM HOST</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for virtual_machines in object_list %}
        <tr>
          <td><a href="{{ virtual_machines.id }}/">{{ virtual_machines.id }}</a></td>
          <td><a href="{{ virtual_machines.id }}/">{{ virtual_machines.name }}</a></td>
          <td>{{ virtual_machines.ip_address }}</td>
          <td>{{ virtual_machines.power }}</td>
          <td>{{ virtual_machines.status }}</td>
          <td>
        <a href="javascript:window.open('http://61.192.216.181:{{ virtual_machines.vnc_port }}/vnc_auto.html', 'mywindow1', 'width=1000, height=1000, menubar=no, toolbar=no, scrollbars=yes');">
            <i class="fa fa-tv"></i>
        </a>
      </td>
          <td><a href="{% url 'webui:node' pk=virtual_machines.host_server.id %}">{{ virtual_machines.host_server.name }}</a></td>
          <td>
        <button class="btn btn-info" onClick="location.href='{% url 'webui:virtualmachine-edit' pk=virtual_machines.id %}'">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" onClick="location.href='{% url 'webui:virtualmachine-delete' pk=virtual_machines.id %}'">Delete</button>
      </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}