{% extends 'adminlte/base.html' %}

{% block title %}VirtualMachines{% endblock %}
{% block content %}
    <h1>VirtualMachines</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>NodeName</th>
          <th>IP Address</th>
          <th>Power</th>
          <th>Status</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for virtual_machines in object_list %}
        <tr>
          <td><a href="{{ virtual_machines.id }}/">{{ virtual_machines.id }}</a></td>
          <td><a href="{{ virtual_machines.id }}/">{{ virtual_machines.name }}</a></td>
          <td>xxx.xxx.xxx.xxx</td>
          <td>On</td>
          <td>{{ virtual_machines.status }}</td>
          <td>{{ virtual_machines.type }}</td>
          <td>EDIT</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}