{% extends 'adminlte/base.html' %}

{% block title %}Users{% endblock %}
{% block content %}
<h1>Users</h1>
<div class="btn-group">
    <button class="btn btn-primary" onClick="location.href='{% url 'webui:user-create' %}'">Add</button>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Mail</th>
      <th>Last Login</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in object_list %}
    <tr>
      <td><a href="{{ user.id }}/">{{ user.id }}</a></td>
      <td><a href="{{ user.id }}/">{{ user.username }}</a></td>
      <td>{{ user.email }}</td>
      <td>{{ user.last_login }}</td>
      <td>
        <button class="btn btn-info" onClick="location.href='{% url 'webui:user-edit' pk=user.id %}'">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" onClick="location.href='{% url 'webui:user-create' %}'">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}