{% extends 'adminlte/base.html' %}

{% block title %}Nodes{% endblock %}
{% block content %}
<h1>Nodes</h1>
<div class="btn-group">
    <button class="btn btn-primary" onClick="location.href='{% url 'webui:node-create' %}'">Add</button>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>NodeName</th>
      <th>IP Address</th>
      <th>Power</th>
      <th>Status</th>
      <th>Type</th>
      <th>VNC</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for node in object_list %}
    <tr>
      <td><a href="{{ node.id }}/">{{ node.id }}</a></td>
      <td><a href="{{ node.id }}/">{{ node.name }}</a></td>
      <td>{{ node.ip_address }}</td>
      <td>{{ node.power }}</td>
      <td>{{ node.status }}</td>
      <td>{{ node.type }}</td>
      <td>
        <a href="{% url 'webui:index' %}">
            <i class="fa fa-tv"></i>
        </a>
      </td>
      <td>
          <button class="btn btn-info" onClick="location.href='{% url 'webui:node-edit' pk=node.id %}'">Edit</button>
      </td>
      <td>
          <button class="btn btn-danger" onClick="location.href='{% url 'webui:node-delete' pk=node.id %}'">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}