{% extends 'adminlte/base.html' %}

{% block title %}Nodes{% endblock %}
{% block content %}
    <h1>Nodes</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>NodeName</th>
          <th>IP Address</th>
          <th>Power</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for node in object_list %}
        <tr>
          <td><a href="{{ node.id }}/">{{ node.id }}</a></td>
          <td><a href="{{ node.id }}/">{{ node.name }}</a></td>
          <td>xxx.xxx.xxx.xxx</td>
          <td>On</td>
          <td>KVM</td>
          <td>EDIT</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}